[submodule "brand"]
	path = brand
	url = https://github.com/leger-labs/brand.git
[submodule "schemas"]
	path = schemas
	url = https://github.com/leger-labs/schema.git
[submodule "model-store"]
	path = model-store
	url = https://github.com/leger-labs/model-store.git
